body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.description-text {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.roulette {
    display: flex;
    gap: 20px;
}

.result-text {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.slot {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.2;
    white-space: normal; /* 改行を許可 */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
